* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    background-color: white;
    border: 2px solid black;
    padding: 5px 30px 5px 30px;
    margin-left: calc(50vw - 40px);
    margin-top: 40px;
    transition: 1s;
}

.square {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    top: 0;
    left: 0;
    transition: left .5s, top .5s .5s;
}

button:hover {
    background-color: black;
    color: white;
}

button:hover~.square {
    width: 100px;
    height: 100px;
    top: calc(100% - 100px);
    left: calc(100% - 100px);
}